/*==================layout======================*/
html, body, .capa{
	height: 100%;
}
body {
	background:url("capa.png") ;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}




/*=============barra de navegação=====================*/

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url("spotify.png") no-repeat;
	background-size: contain; 
	color: transparent;

}

nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 5px 15px; 
}

.divisor {
	width: 1px;
	height: 16px;
	background-color: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: green;
}




/* ============Imagem de capa=========*/

.capa {
	display: table;
	width: 100%;
}


.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}





/* ============Botoes=========*/

.btn-custom {
	color: white;
	border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

.btn-verde {
	background:#1db954;
}

.btn-verde:hover {
	background:#1ed760;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

/* ================tipografia=====================*/

h1{
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}