.navbar-brand {
	font-family: "Century Gothic";
	font-weight: bold; 
	color: black; 
	font-size: 30px;
}

.navbar-collapse {
	font-family: "Agency FB";
	color: purple;
	font-size: 20px;
}

.carousel-inner{
	height: 500px;
}